*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;

}
body,input,textarea,select,button{
  font-family:  'Open Sans', sans-serif;
}
.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;

}
h1{
  font-size: 80px;
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
  color: #ead7d8;
  opacity: 0.5;

}
.wrapper{
text-align: left;
margin: 0 auto;
width: 500px;
border: 2px solid #ededed;
box-shadow: 0 8px 0 -5px #F6F6F5, 0 8px 1px -4px #CECED3, 0 16px 0 -9px #F6F6F5, 0 11px 8px -2px #CECECF;
 }

 .task{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding: 8px;
   border-bottom: 1px solid #ededed;
 }


 .task-name{
   font-size: 23px;
   padding-right: 1em;

 }
 .form-field{
  border-bottom: 2px solid #ededed;
 }
 .form{
   overflow: hidden;
 }
 .text-form{
   width: 100%;
   padding: 10px 10px;
   font-size: 22px;
   border: none;
   color: black;
   margin-left: 10px;
 }
 .text-form::-webkit-input-placeholder{
   font-style: italic;

 }
 .text-form::-moz-placeholder{
   font-style: italic;

 }
 .text-form:-ms-input-placeholder{
   font-style: italic;

 }
 .text-form::placeholder{
   font-style: italic;

 }
.select-all{
  background: none;
  border: none;
  font-size: 30px;
  color: #ededed;
  padding-left: 10px;
  float: left;
}
 .non-label{
  margin-left: 37px;
  border: 2px ridge #ededed;
 }


.fancy-checkbox{
  display: none;
}
.checkbox{
  flex-shrink: 0;
  width: 25px;
 height: 25px;
 border: 1px solid grey;
 opacity: 0.5;
 border-radius: 50%;
 margin-right: 20px;
 margin-top: 4px;

}
.fancy-checkbox + .checkbox i{
  width: 10px;
  height: 10px;
  margin: 3px 3px;
  display: none;
}
.fancy-checkbox:checked + .checkbox i {
  display: block;
  color: green;
}
.fancy-checkbox:checked ~ .task-name {
  text-decoration: line-through;
  color: #ccc;
}
.fancy-checkbox:checked + .checkbox i + .task-name {
  display: block;
  color: green;
}
.footer-cf{
  padding: 5px 0;
  border-top: 1px solid #ededed;
  font-size: 14px;
}
.buttons-item.right{
  float: right;
  padding-right: 10px;
}
.leftspan{
  float: left;
  margin-top: 3px;
  padding-left: 10px;
  width: 33%;
}

.delete{
display: none;
}

.buttons-item{
  background: none;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 14px;
}
.buttons-item:hover{
  border-color: #aaa;
  cursor: pointer;
}
.task:hover .delete{
  display: block;
  position: absolute;
  right: 400px;
  padding: 6px;
  color: darkred;
  font-size: medium;
  cursor: pointer;
}
