
body{
  margin: 0;
  padding: 0;
}
.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;

}
h1{
  font-size: 50px;
  text-align: center;
  font-family: fantasy;
  font-weight: lighter;
  margin: 0 auto;
  color: darkred;
  opacity: 0.5;
}
.wrapper{
text-align: left;
margin: 0 auto;
width: 500px;
border: 2px groove lightgrey;
box-shadow:  0 7px 0 -4px #fff, 0 7px 3px -4px #777, 0 15px 0 -8px #FFE, 0 15px 3px -8px #777;
 }
 .form{
display: inline-flex;
 }
 
 .task{
   display: flex;
   padding: 8px;
   border-bottom: 1px solid #999;
 }


 .task-name{
   font-size: 25px;

 }
 .form-field{

  border-bottom: 2px groove #999;
 }
 .text-form{
   width: 300px;
   padding: 10px 10px;
   font-size: 26px;
   border: none;
   font-style: italic;
   opacity: 0.5;
 }
.select-all{
  background: white;
  border: none;
  font-size: 35px;
  color: #999;
}
 .non-label{
margin-left: 37px;
   border: groove;
 }


.fancy-checkbox{
  display: none;
}
.checkbox{
  width: 20px;
 height: 20px;
 border: 1px solid grey;
 opacity: 0.5;
 border-radius: 50%;
 margin-right: 20px;

}
.fancy-checkbox + .checkbox i{
  width: 10px;
  height: 10px;
  margin: 3px 3px;
  display: none;
}
.fancy-checkbox:checked + .checkbox i {
  display: block;
  color: green;
}
.fancy-checkbox:checked ~ .task-name {
  text-decoration: line-through;
  color: #ccc;
}
.fancy-checkbox:checked + .checkbox i + .task-name {
  display: block;
  color: green;
}
.footer-cf{
  padding: 10px 0;
  border-top: 1px solid grey;
}
.rightspan{
  float: right;
  margin-top: -20px;
  padding-right: 10px;
}
.leftspan{
  float: left;
  margin-top: 1px;
  padding-left: 10px;
  width: 33%;
}

.delete{
display: none;
}

button:hover{
  border: 1px solid red;
  border-radius: 5px;
  background: none;
}
.task:hover .delete{
  display: block;
  position: absolute;
  right: 400px;
  padding: 6px;
  color: darkred;
  font-size: medium;
}
